*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
build_log*.txt

# .idea フォルダ内の個人設定を無視
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/caches/
.idea/deploymentTargetSelector.xml
.idea/appInsightsSettings.xml

# ビルド中間生成物
*.salive